body{
    overflow: hidden;
}

.header{
    border-bottom: 1px solid gray;
    padding: 5px px;
}

section{
    background-color: #fafafa;
}

#navbar{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logoTitle{
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
   
}
.searchBox{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    /* background-color: aqua; */
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    
}

.searchBox input{
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;

}

.userBtn{
    display: flex;
    align-items: center;
    gap: 4;
}

.profile{
    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: space-between;

}

.mainContent{
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100vw;

}
.sidebar{
    width: 250px;
    height:100vh;
    /* background-color: red; */
}
.iconBox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2px;
    
}
.iconBox svg{
    height: 20px;
    width: 20px;
}

.bookSection{
    background-color: #fafafa;
    border-radius: 10px;
    padding: 10px 4px;
    flex-shrink: 0;
    height: 100vh;
    width: calc(100vw -  250px);
}

#book-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    
}
/* #book-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
} */

.book-element{
    /* border: 1px solid red; */
    /* width: 300px; */
}

#book-container img{
    width:fit-content;
    height: 300px;
}

.book-title{
    font-weight: bold;
    text-transform: capitalize;
    padding: 8px 0px;

}

.book-author{
    font-weight: 400;
    text-transform: lowercase;
    /* padding: 8px 0px; */
}
.book-desc{
    font-weight: 500;
    padding: 4px 0px;
}

.book-price{
    font-weight: bolder;
    padding: 4px 0px;
    text-transform: uppercase;
    font-size:25px
}

.nav-link{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
}